.body{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    padding: 8px 12px;

}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i{
    color: violet;
}

.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;

}

.navbar__menu li{
    padding: 8px 12px;
}
