
body{
margin: 0;
font-family: 'Source Sans Pro', sans-serif;
}



a{
    text-decoration: none;
    color: royalblue;
}

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 8px 12px;
    background-color: powderblue;

}

.nav_logo{

    font-size: 24px;
    color : black;

}

.nav_logo i {
    color : rgb(0, 0, 0);
}

.nav_menu{
display: flex;
padding-left: 0;
list-style: none;


}
.nav_menu li {
    padding: 8px 12px;
    
}
.nav_menu li:hover{
    background-color: rgb(176, 230, 180);
    border-radius: 4px;
}


.nav_icons{
    list-style: none;
    display: flex;
    padding-left: 0;
}

.nav_icons li{
    padding: 8px 12px;
}

.nav_toggle {
   
    position: absolute;
    right: 32px;
    font-size: 24px;
}




@media screen and (max-width : 768px){
.navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

}

}